doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title API Tester Dashboard
    meta(name="description" content="")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")

    link(rel="stylesheet" href= host + "/assets/normalize.css")
    link(rel="stylesheet" href= host + "/assets/skeleton.css")

  body

    .container
      .row
        .one-half.column(style="margin-top: 15%")
          h4 API Check
          p
            | Below you'll see all endpoints defined in this application. Use the 'Test App Endpoints' button to check each for their response.
            |
        .one-half.column(style="margin-top: 15%")
          h4 &nbsp;
          button.button-primary.testAll Test App Endpoints
          button.clearAll Clear Results
      .row
        .full.width
          h5.label Application Endpoints
          p
            each route in routes.api
              span(class='api',data-route=route) #{route.method} #{route.path}
              br
          if routes.platform.length > 0
            h5.label MBaaS System Endpoints
              button.mini.button.primary.testSystemEndpoint test
            p.systemEndpoints
              each route, idx in routes.platform
                span(class='api platform',data-route=route) #{route.method} #{route.path}
                br

    script(src= host + '/assets/jquery.min.js')
    script(src= host + '/assets/main.js')